@import "~bulma/bulma";

html,
body {
  height: 100%;
}

#app {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  p {
    line-height: 1.5;
    margin-bottom: 1rem;
  }
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #fff;
    }
  }
}

.container {
  @media (max-width: 768px) {
    /* Always nice to have some padding on the left and right in touch devices */
    padding: 0 1rem;
  }
}